* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    center;
  background-size: cover;
  padding: 0rem 5rem;
  text-align: center;
}

.login {
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/5149754/pexels-photo-5149754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    center;
  background-size: cover;
  padding: 0rem 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

a {
  padding-left: 1.5rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#logo {
  font-family: "Lobster", cursive;
  font-size: 4em;
}

.big-text {
  
  position: absolute;
  top: 40%;
  left: 50%;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  color: rgb(32, 0, 238);
  transform: translate(-50%, -40%);
  
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(163, 162, 226);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(206, 140, 140);
  font-family: "Heebo", sans-serif;
}
.text {
  font-size: 8rem !important;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  transform: translateY(100%);
}
